body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.App{text-align:center;margin-top:52px;background:#111;width:100%;color:ivory;background-size:cover;z-index:-10}.homepage,.page{text-align:center;min-height:100vh;z-index:-9}.homepage{background-image:url(/portfolio/static/media/FullLogoEmpty.60b25fcc.png);background-repeat:no-repeat;background-position:50%;background-size:contain}.pageTitle{padding-top:1.5rem;padding-bottom:1.5rem}

/*

  !Navbar

*/.Navbar{z-index:100;position:fixed;margin-top:0;top:0;display:flex;align-items:center;justify-content:space-between;width:100%;background-image:linear-gradient(90deg,#870101,#4e00ff);color:#fff;padding-top:.5rem;padding-bottom:.5rem}.brand-title{font-size:1.5rem;color:#fff}.brand-title:hover{text-decoration:none;color:#fff}.Navbar-links{display:flex}.Navbar-links ul{margin:0;padding:0;display:flex}.Navbar-links li{list-style:none}.Navbar-links li a,a:link,li{text-decoration:none;color:#fff}a:link{padding-right:1rem;padding-left:1rem}a:active,a:hover,a:visited{text-decoration:none;color:#fff}.red{color:#b10000}

/*

  !HomePage

*/.container{display:flex;width:auto;height:auto;overflow:auto}.leftImg{text-align:end;display:block;max-width:28%;height:100%;padding-right:1rem;margin-top:0}.abtext{text-align:start;width:70%;max-width:600px;height:50vh;padding-left:1rem;max-height:60vh;text-overflow:ellipsis}.paddingtop{padding-top:3%}.toggle-button{position:absolute;top:1rem;right:1rem;display:none;flex-direction:column;justify-content:space-between;width:30px;height:21px}.toggle-button .bar{height:3px;width:100%;background-color:#fff;border-radius:10px}

/*

  !Cards Dev & Design

*/.card{background-color:transparent!important}.card-body{background-color:#333;border:ivory}.card :hover{background-color:#1a1919}

/*

  !Homapage downSide

*/.container2{max-width:1000px;margin:0 auto;display:flex;flex-wrap:wrap;justify-content:flex-end}.container3{justify-content:space-between;width:100%}.container3,.wrapperGoTo{display:flex;align-items:center}.wrapperGoTo{height:100%;box-sizing:border-box;width:40%;padding-top:10px}.textToGo{position:relative;flex:1 1 auto;min-width:0;padding:0 10%;box-sizing:border-box;overflow:hidden}.GoTo-Design{margin:0 1.5625rem 0 1rem}.GoTo-Dev{margin:0 1rem 0 1.5625rem}


/*

  !Buttons

*/.customBtn{color:ivory;text-decoration:none;padding:5.5% 13%;font-size:1.25rem;position:relative;z-index:10}.customBtn-mirrors{color:ivory;border:none;background-color:transparent}.customBtn-mirrors:after,.customBtn-mirrors:before{border:3px solid ivory;border-radius:0;content:"";position:absolute;width:calc(100% - 6px);height:calc(100% - 6px);bottom:0;left:0;right:0;z-index:0;transition:transfomr .3s ease}.customBtn-mirrors:hover:after{-webkit-transform:translate(-5px,-5px);transform:translate(-5px,-5px)}.customBtn-mirrors:hover:before{-webkit-transform:translate(5px,5px);transform:translate(5px,5px)}.customBtn-fade{overflow:hidden;border:solid;border-radius:30px;background-color:transparent;box-shadow:0 0 0 0 #870101,0 0 0 0 #4e00ff;transition:box-shadow .7s ease,-webkit-transform .5s ease;transition:transform .5s ease,box-shadow .7s ease;transition:transform .5s ease,box-shadow .7s ease,-webkit-transform .5s ease}.customBtn-fade:after{content:"";width:900px;height:900px;position:absolute;top:-50px;left:-300px;background-image:linear-gradient(180deg,#b10000 10%,#e3e558 35%,#6fb57e 65%,#4e00ff 90%);z-index:-1;transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}.customBtn-fade:hover{-webkit-transform:translateY(-6px);transform:translateY(-6px);box-shadow:10px -10px 25px 0 #4e00ff,-10px 10px 25px 0 #870101}.customBtn-fade:hover:after{-webkit-transform:rotate(180deg);transform:rotate(180deg)}


/*

  !Footer

*/.footer{padding-bottom:.3rem;width:100%;margin-top:auto;clear:both;text-align:center}.FooterButton{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding-right:1rem;padding-left:1rem;font-size:1rem}.footer-Img{max-height:30px;max-width:30px}.FooterLinks{justify-content:space-between;width:auto;height:auto}

/*

  !Responsive

*/@media (max-width:775px){.toggle-button{display:flex}.Navbar-links{display:none;width:100%}.Navbar{flex-direction:column;align-items:flex-start}.Navbar-links ul{flex-direction:column;padding-top:.275rem;width:100%}.Navbar-links.active{display:flex}.container{font-size:13px}.leftImg{max-width:28%;padding-right:0;margin-top:10%}.Navbar-links li{margin-bottom:.175rem;margin-top:.175rem}

    /* !Homepage LowerSide */.container3{flex-flow:column}.GoTo-Dev{margin:0;padding-top:3rem}.wrapperGoTo{display:block;width:100%}}@media (max-width:500px){
  /* !Homepage */.container{font-size:12px}}@media (max-width:400px){
  /* !Homepage */.container{font-size:10px}
  /* !Button */.customBtn{font-size:100%}}@media (max-width:300px){.container{font-size:8px}}


/*

  !Scrollbar

*/::-webkit-scrollbar{width:1rem}::-webkit-scrollbar-track{background:#111}::-webkit-scrollbar-thumb{background:#4e00ff}::-webkit-scrollbar-thumb:hover{background:#393939}@supports (scrollbar-color:red blue){*{scrollbar-color:#4e00ff #111}}
/*# sourceMappingURL=main.81fa91f8.chunk.css.map */