.App {
  text-align: center;
}

.Navbar {
  height:  6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #b10000  , #870101);
  color: #C49B55;
}

.Links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width:  20%;
}

a:link { text-decoration: none;
  color: white;
}


a:visited { text-decoration: none;
  color: white;
}


a:hover { text-decoration: none;
  color: white;
}


a:active { text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
 }

.red {
  color: #b10000;
}

.container {
  display: flex;
  width: auto;
  height: auto;
}

.left {
  text-align:end;
  width: 50%;
  height: 50%;
  padding-right:1rem;
}

.abtext {
  text-align:start;
  width: 50%;
  max-width: 575px;
  height: 50vh;
  padding-left:1rem;
}