.App {
  text-align: center;
  margin-top: 52px;
  background: #111111;
  width: 100%;
  color: ivory;
  background-size: cover;

}

.page {
  text-align: center;
  min-height: 100vh;
}

.pageTitle {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.Navbar {
  z-index: 100;
  position:fixed;
  margin-top: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to right, #870101   , #4e00ff  );
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.brand-title {
  font-size: 1.5rem;
  color: white;
}
.brand-title:hover {
  text-decoration: none;
  color: white;
}

.Navbar-links {
  display: flex;
}

.Navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar-links li {
  list-style: none;
}

.Navbar-links li a {
  text-decoration: none;
  color: white;
}

li {
  text-decoration: none;
  color: white;
}

a:link {
  padding-right: 1rem;
  padding-left: 1rem;
  text-decoration: none;
  color: white;
}


a:visited {
  text-decoration: none;
  color: white;
}


a:hover {
  text-decoration: none;
  color: white;
}


a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
 }

.red {
  color: #b10000;
}

.container {
  display: flex;
  width: auto;
  height: auto;
}

.container2 {
  max-width: 1560px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.container3 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.leftImg {
  text-align:end;
  display: block;
  max-width: 28%;
  height: 100%;
  padding-right:1rem;
  margin-top: 0% ;
}

.abtext {
  text-align:start;
  width: 70%;
  max-width: 600px;
  height: 50vh;
  padding-left:1rem;
  max-height: 60vh;
  text-overflow: ellipsis;
}

.paddingtop {
  padding-top: 3%;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.card-body{
  background-color: #333333;
}

.card :hover{
  background-color: #1a1919;
}

.GoToDesign{
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 1.5625rem;
  margin-bottom: 0px;
  flex: 1 1 100%;

}
.GoToDev{
  margin-left: 1.5625rem;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex: 1 1 100%;
}

.wrapperGoTo {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  /*display: flex;    for custom grid*/
  padding: 10px 0px;
  -webkit-box-align: center;
  align-items: center;
}

.footer {
  padding-bottom: 0.3rem;
  width: 100%;
  margin-top:auto;
  clear: both;
  text-align: center;
}

.CustomButton {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.footer-Img{
  max-height: 30px;
  max-width: 30px;
}

.FooterLinks {
  justify-content: space-between;
  width: auto;
  height: auto;
}

@media (max-width: 775px){
    .toggle-button {
      display: flex;
    }

    .Navbar-links {
      display: none;
      width: 100%;
    }

    .Navbar {
      flex-direction: column;
      align-items: flex-start ;
    }

    .Navbar-links ul {
      flex-direction: column;
      padding-top: 0.275rem;
      width: 100%;
    }

    .Navbar-links.active {
      display: flex;
    }

    .container{
      font-size: 13px;
    }

    .leftImg{
      max-width: 28%;
      padding-right:0rem;
      margin-top: 10% ;
    }
}

@media (max-width: 500px){

  .container{
    font-size: 12px;
  }

}

@media (max-width: 400px){

  .container{
    font-size: 10px;
  }

}

@media (max-width: 300px){

  .container{
    font-size: 8px;
  }

}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #111111 ;
}

::-webkit-scrollbar-thumb {
  background: #4e00ff   ;
}

::-webkit-scrollbar-thumb:hover {
  background: #393939   ;
}

@supports (scrollbar-color: red blue){
  *{
    scrollbar-color: #4e00ff #111111 ;
  }
}